<a href="https://colab.research.google.com/github/biybs/Tugaspplg/blob/main/dasarpyhthon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variable
variable adalah sesuatu yang dapat berubah. Variabel ini digunakan untuk merujuk menuju lokasi memori oleh program komputer.
Pada sebagian besar bahasa lain, Anda perlu menetapkan tipe data terhadap suatu variabel. Namun, hal itu tidak perlu dilakukan pada bahasa pemrograman python. Sebagai contoh, jika Anda menulis program dengan menggunakan bahasa C, maka sintaks yang harus anda tulis adalah int num = 39; Dengan Python Anda hanya cukup menuliskan num = 39.

**Integer**
Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [ ]:
a= 39
print(a)
39
type(a)

39

int


**Float**
Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [ ]:
b= 39.0
print(b)
39.0
type(b)

39.0

float


**String**
String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single).

In [ ]:
test = "Habib Ganteng"
print(test )
"Habib Ganteng"
type(test )

Habib Ganteng

str

**Boolean**
Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [ ]:
Maul_gembul = True
print(Maul_gembul)
True
type(Maul_gembul)

True

bool

**NoneType**
NoneType digunakan ketika variable tidak memiliki nilai, seperti pada contoh di bawah ini:

In [ ]:
c = None
print(c)
None
type(c)

None

NoneType

#Operator
Operator adalah simbol aritmatika pada bahasa pemrograman Python atau bahasa lainnya

**Operator aritmatik**
Operator yang akan kita bahas adalah penambahan, pengurangan, perkalian, eksponensial, modulus, dan pembagian. Mari kita lihat operasi aritmatika sederhana pada bahasa pemrograman Python.

In [ ]:
a=5
b=6
c=a+b
print (c)

11

**Operator pembanding**
operator pembanding adalah sama dengan, lebih besar dari, serta kurang dari.

In [ ]:
a=7
b=3
a>b

True

**Operator logika**
Operator ini "tidak termasuk", "dan", "dan atau"

In [ ]:
a=10
b=2
a==10 or b==2

True

#Conditional Statement
Conditional statement digunakan untuk memeriksa suatu kondisi yang ditentukan sebelumnya apakah nilai nya True atau False.conditional statement akan sangat berguna. if, elif dan else adalah pernyataan kondisional yang digunakan dalam bahasa pemrograman Python.

**kondisi pertama**
pertama adalah kondisi if untuk mengecek apakah nomor tersebut sama dengan 10.

In [ ]:
angka = 5
if angka == 10:
    print("angka adalah 10")
elif angka < 10:
    print("angka adalah kurang dari 10")
else:
    print("angka adalah lebih dari 10")

angka adalah kurang dari 10

**kondisi kedua**
Pada kasus ini kita akan memiliki variabel boolean dan dua kondisi. Pada contoh sebelumnya ketika kita membahas mengenai boolean apakah benar atau salah? Saat ini kita akan menggunakannya kembali pada conditional statement.
Jika anda_robot, lalu print "Ya, saya robot", selain itu print "bukan, saya manusia".

In [ ]:
maul_manusia = False
if maul_manusia:
    print ("Ya, saya manusia")
else:
    print ("bukan, saya robot")

bukan, saya robot


**kondisi ketiga**
Pada contoh ini kita akan membuat kondisi berkebalikan dari kondisi kedua dengan operator not.

In [ ]:
maul_manusia = False
if not maul_manusia:
    print ("Ya, saya manusia")
else:
    print ("bukan, saya robot")

Ya, saya manusia

**kondisi keempat**
Disini kita akan mendeklarasikan data sebagai None, lalu memeriksanya jika data tersebut ada atau tidak.

In [ ]:
data = None
if data:
    print ("data bukan none")
else:
    print ("data adalah none")

data adalah none


**kondisi kelima**
 pun dapat menggunakan if dalam satu baris pada bahasa pemrograman Python. Syntax nya akan terlihat seperti pada:

In [ ]:
a = 10
b = 5
if a > b: print("a lebih besar dari b")

a lebih besar dari b

**Kondisi ke enam** Anda pun dapat menggunakan if else dalam satu baris, seperti pada contoh di bawah ini:

In [ ]:
num = 5
print("Angka adalah lima ") if num == 5 else print("Angka bukan lima")

Angka adalah lima

**Kondisi ketujuh** Anda pun dapat menggunakan nested if-else statement, yaitu:

In [ ]:
num = 25
if num > 10:
    print("Angka lebih besar dari 10")
    if num > 20:
        print("Angka lebih besar dari 20")
    if num > 30:
        print("Angka lebih besar dari 30")
else:
    print("Angka lebih kecil dari 10")

Angka lebih besar dari 10
Angka lebih besar dari 20

**Kondisi kedelapan** Anda dapat pula mengunakan operator and pada conditional statement. Operator ini menyatakan jika kondisi 1 dan 2 keduanya adalah benar.

In [ ]:
num = 10
if num > 5 and num < 15:
     print(num)
else:
     print("Angka bisa lebih kecil dari 5 atau lebih besar dari 15")

10

**Kondisi kesembilan** Anda pun dapat menggunakan operator or dalam pernyataan bersyarat. Hal ini untuk menyatakan bahwa jika salah satu kondisi 1 atau kondisi 2 benar, sehingga program akan di eksekusi.

In [ ]:
num = 10
if num > 5 or num < 7:
     print(num)

10

#For loops
Metode lain yang berguna dalam bahasa pemrograman Python adalah iterator. Hal ini sangat membantu jika Anda ingin melakukan sesuatu beberapa kali.

In [ ]:
for i in range(3):
   print("Tian imut")

Tian imut
Tian imut
Tian imut