<a href="https://colab.research.google.com/github/biybs/Tugaspplg/blob/main/Variable.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable
variable adalah sesuatu yang dapat berubah. Variabel ini digunakan untuk merujuk menuju lokasi memori oleh program komputer. Pada sebagian besar bahasa lain, Anda perlu menetapkan tipe data terhadap suatu variabel. Namun, hal itu tidak perlu dilakukan pada bahasa pemrograman python. Sebagai contoh, jika Anda menulis program dengan menggunakan bahasa C, maka sintaks yang harus anda tulis adalah int num = 39; Dengan Python Anda hanya cukup menuliskan num = 39.

**Integer**
Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka

In [1]:
a= 39
print(a)
39
type(a)

39

int

**Float** Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [2]:

b= 39.0
print(b)
39.0
type(b)

39.0

float

**String** String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single)

In [3]:
test = "Habib Ganteng"
print(test )
"Habib Ganteng"
type(test )

Habib Ganteng

str

**Boolean** Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [4]:
Maul_gembul = True
print(Maul_gembul)
True
type(Maul_gembul)

True

bool

**NoneType** NoneType digunakan ketika variable tidak memiliki nilai, seperti pada contoh di bawah in

In [5]:
c = None
print(c)
None
type(c)

None

NoneType